body
{
    margin : 0;
    padding : 0;
      background-color : hsl(231, 21%, 19%);
      color:white;
   
}
.navbar{
    background-color : hsl(232, 20%, 36%);
    display : flex;
    justify-content : space-between;
    align-items : center;
    position:fixed;
    z-index: 1000;
 width: 100%;
 padding: 0;
  
}
.links{
  
    
}
.links ul{
    list-style-type : none;
      display : flex;
      gap:35px;

  
}
.links li{
   background-color : hsl(232, 28%, 21%);
   border-radius : 5px;
   padding:5px;
  
}
.links li:hover{
    background-color : hsl(231, 49%, 28%);
    color : hsl(220, 2%, 61%);
    cursor : pointer;
}